/* ---------- FONTS ---------- */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

/* ---------- GENERAL ---------- */
* {
  margin: 0;
  padding: 0;
}

body {
  padding: 1em;
  font-family: 'Open Sans', sans-serif;
  background-color: #d2d2d2;
}

header {
  margin: 0 0 1em 0;
  padding: 1em;
  border: 1px solid #000000;
}

main {
  display: flex;
  flex-direction: column;
  padding: 1em;
  background-color: #ffffff;
  border: 1px solid #000000;
}

h2 {
  margin: 0 0 0.5em 0;
  font-weight: 700;
}

h3 {
  margin: 0 0 1.5em 0;
  font-weight: 600;
}

p {
  margin: 0 0 1em 0;
  font-weight: 300;
}

ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

ul li {
  list-style: none;
}

label {
  margin: 1em 0 0.5em 0;
  font-size: 0.8em;
  font-weight: 600;
}

label:first-of-type {
  margin-top: 0;
}

select + p, input + p {
  margin-top: 2em;
}

audio {
  display: none;
}

.wd-hidden{
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* ---------- NAV ---------- */
#wd-skip-nav-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap
}

.wd-skip-nav-ul {
  position: relative;
}

.wd-skip-nav-li {
  position: absolute;
  left: -100em;
  padding: 1em;
  background-color: #ffffff;
}

.wd-skip-nav-li:focus {
  left: 0;
}

/* ---------- FORM ---------- */
#wd-book-flight-form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
}

#wd-book-flight-form a {
  margin: 2.5em 0 0 0;
}

#wd-book-flight-form button {
  margin: 2.5em 0 0 0;
  padding: 1em 2em;
  width: 200px;
}

#wd-form-choices h2 {
  margin: 0 0 1.5em 0;
}

#wd-form-choices p:last-of-type {
  margin: 2.5em 0 1em 0;
}
