<% include ../partials/header %>

<nav id="wd-skip-nav-wrapper">
  <ul class="wd-skip-nav-ul">
    <li><a href="#wd-form-choices" class="wd-skip-nav-li">Naar je vakantie keuzes.</a></li>
  </ul>
</nav>

<main id="wd-site-content">
  <div id="wd-form-choices">
    <h2>Dit zijn jouw keuzes voor je vakantie vlucht:</h2>

    <p>Wil je je keuzes aanpassen?</p>

    <a href="/">Ja, ik wil me keuzes aanpassen.</a>
    <a href="#">Nee, ga verder met het boeken van een ticket.</a>
  </div>
</main>

<% include ../partials/footer %>
