<% include ../partials/header %>

<h1 class="wd-hidden">Goedkope vliegtickets boeken en tickets vergelijken – KLM.com.</h1>

<nav id="wd-skip-nav-wrapper">
  <ul class="wd-skip-nav-ul">
    <li><a href="#wd-site-navigation" class="wd-skip-nav-li">Naar website navigatie</a></li>
    <li><a href="#wd-form-choices" class="wd-skip-nav-li">Naar jouw keuzes</a></li>
  </ul>
</nav>

<header>
  <nav class="wd-main-navigation">
    <ul id="wd-site-navigation">
      <li><a href="/">Home</a></li>
      <li><a href="#">Bereid uw reis voor</a></li>
      <li><a href="#">Klantenservice</a></li>
      <li><a href="#">Bestemmingen</a></li>
      <li><a href="#">Fly Blue</a></li>
      <li><a href="#">KLM Zakelijk</a></li>
    </ul>
  </nav>
</header>

<main id="wd-site-content">
  <div id="wd-form-choices">
    <h2>Dit zijn jouw keuzes:</h2>

    <p>Wil je je keuzes aanpassen?</p>
    
    <a href="/">Ja, ik wil me keuzes aanpassen.</a>
    <a href="#">Nee, ga verder met het boeken van een ticket.</a>
  </div>
</main>

<% include ../partials/footer %>
