<% include ../partials/header %>

<h1 class="wd-hidden">Goedkope vliegtickets boeken en tickets vergelijken – KLM.com.</h1>

<nav id="wd-skip-nav-wrapper">
  <ul class="wd-skip-nav-ul">
    <li><a href="#wd-site-navigation" class="wd-skip-nav-li">Naar website navigatie</a></li>
    <li><a href="#wd-book-flight-form" class="wd-skip-nav-li">Naar boek je vlucht</a></li>
    <li><a href="#wd-tickect-sales" class="wd-skip-nav-li">Naar ticket aanbiedingen</a></li>
    <li><a href="#wd-more-from-klm" class="wd-skip-nav-li">Naar meer van KLM</a></li>
    <li><a href="#wd-more-journey" class="wd-skip-nav-li">Naar haal meer uit uw reis</a></li>
  </ul>
</nav>

<header>
  <nav class="wd-main-navigation">
    <ul id="wd-site-navigation">
      <li><a href="/">Home</a></li>
      <li><a href="#">Bereid uw reis voor</a></li>
      <li><a href="#">Klantenservice</a></li>
      <li><a href="#">Bestemmingen</a></li>
      <li><a href="#">Fly Blue</a></li>
      <li><a href="#">KLM Zakelijk</a></li>
    </ul>
  </nav>
</header>

<main id="wd-site-content">
  <form id="wd-book-flight-form" action="" method="post">
    <h2>Boek je vlucht</h2>

    <label for="vanaf">Vanaf luchthaven</label>
    <select name="vanaf">
      <option>-- Kies je vertrekluchthaven --</option>
      <option value="Amsterdam(Schiphol), Nederland">Amsterdam(Schiphol), Nederland</option>
      <option value="Eindhoven, Nederland">Eindhoven, Nederland</option>
      <option value="Rotterdam/Den Haag, Nederland">Rotterdam/Den Haag, Nederland</option>
    </select>

    <label for="naar">Naar</label>
    <select name="naar">
      <option>-- Kies je bestemming --</option>
      <option value="Athene, Griekenland">Athene, Griekenland</option>
      <option value="Berlijn, Duitsland">Berlijn, Duitsland</option>
      <option value="Dublin, Ierland">Dublin, Ierland</option>
      <option value="Lissabon, Protugal">Lissabon, Protugal</option>
      <option value="London, Verenigd Koningkrijk">London, Verenigd Koningkrijk</option>
      <option value="Madrid, Spanje">Madrid, Spanje</option>
      <option value="Moskou, Rusland">Moskou, Rusland</option>
      <option value="Oslo, Noorwegen">Oslo, Noorwegen</option>
      <option value="Parijs, Frankrijk">Parijs, Frankrijk</option>
      <option value="Rome, Italië">Rome, Italië</option>
    </select>

    <label for="vertrek">Vertrek datum</label>
    <input type="date" name="vertrek">

    <label for="terug">Terugkomst datum</label>
    <input type="date" name="terug">

    <label for="personen">Aantal personen</label>
    <input type="text" name="personen" placeholder="Bijv. 1">

    <label for="class">Reisklasse</label>
    <select name="class">
      <option>-- Kies je reisklasse --</option>
      <option value="Economy Class">Economy Class</option>
      <option value="Business Class">Business Class</option>
    </select>

    <div id="wd-form-choices" class="wd-hidden">
      <h2>Dit zijn jou keuzes:</h2>
    </div>

    <button id="wd-form-submit" type="submit" name="button">Zoek je vlucht</button>
  </form>

  <div class="wd-teaser-box">
    <h3>KLM Flight Bundle</h3>
    <p>Koop vooraf een aantal vluchten voor een vaste prijs en vlieg pas wanneer het jou uitkomt. Zo kan je zo vaak mogelijk ontspannen bij je eigen vakantiehuis</p>
    <a href="#">Lees meer</a>
  </div>
</main>

<section id="wd-tickect-sales">
  <h2>Ticket Aanbiedingen</h2>

  <h3>Top 10</h3>

  <div class="wd-ticket-sales-top-10">
    <ul>
      <li><a href="#">Genua <span>€99,-</span></a></li>
      <li><a href="#">Montepellier <span>€99,-</span></a></li>
      <li><a href="#">Berlijn <span>€99,-</span></a></li>
      <li><a href="#">Londen <span>€99,-</span></a></li>
      <li><a href="#">New York <span>€358,-</span></a></li>
    </ul>
    <ul>
      <li><a href="#">Bonaire <span>€448,-</span></a></li>
      <li><a href="#">Curacao <span>€447,-</span></a></li>
      <li><a href="#">Aruba <span>€447,-</span></a></li>
      <li><a href="#">Johannesburg <span>€565,-</span></a></li>
      <li><a href="#">Bangkok <span>€621,-</span></a></li>
    </ul>
  </div>

  <a href="#">Meer vliegtickets</a>
  <a href="#">Aanmelden nieuwsbrief</a>

  <p class="wd-sales-disclaimer">Vanaf-prijzen op retourbasis, incl. belastingen en toeslagen, excl. €10 boekingskosten (excl. eventuele creditcardtoeslag). Prijzen kunnen variëren afhankelijk van beschikbaarheid van het tarief. U ziet de exacte totale prijs bij het kiezen van uw betaalmethode.</p>
</section>

<section id="wd-more-from-klm">
  <h2>Meer van KLM</h2>

  <article>
    <h3>Betaal nu Air Miles</h3>
    <p>Wissel nu je gespaarde Air Miles in en boek een voordelige KLM Package Deal. Dat is een KLM vliegticket met hotel en/of auto voor een scherpe prijs.</p>
    <a href="#">Lees meer</a>
  </article>

  <article>
    <h3>Europa al vanaf €99,- retour</h3>
    <p>Een romantisch weekend weg, shoppen of vrienden bezoeken? Er zijn 101 redenen voor een stedentrip. Wat is jouw reden?</p>
    <a href="#">Lees meer</a>
  </article>

  <article>
    <h3>Verken steden op een unieke manier</h3>
    <p>Als supporter van hardlopen is KLM titelsponsor van de KLM Urban Trail Series: 13 runs door verschillende steden in Nederland. Ren mee en maak gedurende 5 of 10 kilometer kennis met de vaak verborgen bezienswaardigheden van een stad.</p>
    <a href="#">Lees meer</a>
  </article>
</section>

<section id="wd-more-journey">
  <h2>Haal meer uit uw reis</h2>
  <ul>
    <li><a href="#">Autohuur</a></li>
    <li><a href="#">Accomodatie</a></li>
    <li><a href="#">Activiteiten</a></li>
    <li><a href="#">Vliegveldtransfer</a></li>
    <li><a href="#">Shop@KLM</a></li>
  </ul>
</section>

<% include ../partials/footer %>
