<% include ../partials/header %>

<nav id="wd-skip-nav-wrapper">
  <ul class="wd-skip-nav-ul">
    <li><a href="#wd-site-explanation" class="wd-skip-nav-li">Naar uitleg voor visueel beperkte.</a></li>
    <li><a href="#wd-book-flight-form" class="wd-skip-nav-li wd-play-bell">Naar boek je vakantie vlucht.</a></li>
  </ul>
</nav>

<section class="wd-hidden">
  <p id="wd-site-explanation">Wanneer je een bel hoord navigeer dan element voor element door het formulier om ook het vakantie gevoel te krijgen. Anders kun je gewoon blijven tabben.</p>

  <a href="#wd-site-content" class="wd-play-bell">Naar boek je vakantie vlucht.</a>
</section>

<main id="wd-site-content">
  <h2>Boek je vakantie vlucht</h2>
  <p class="wd-hidden">Het is weer die tijd van het jaar. Tijd om even lekker te ontspannen en te genieten van een wel verdiende vakantie. De vakantie voorpret begint hier!</p>

  <form id="wd-book-flight-form" method="post">

    <p class="wd-hidden">Als eerste het belangrijkste, waar wil je naar toe op vakantie? Een zonnig strand? Of misschien toch een city trip?</p>

    <label for="wd-destination">Bestemming</label>
    <select id="wd-destination" name="naar">
      <option value="Athene, Griekenland">Athene, Griekenland</option>
      <option value="Berlijn, Duitsland">Berlijn, Duitsland</option>
      <option value="Dublin, Ierland">Dublin, Ierland</option>
      <option value="Lissabon, Protugal">Lissabon, Protugal</option>
      <option value="London, Verenigd Koningkrijk">London, Verenigd Koningkrijk</option>
      <option value="Madrid, Spanje">Madrid, Spanje</option>
      <option value="Moskou, Rusland">Moskou, Rusland</option>
      <option value="Oslo, Noorwegen">Oslo, Noorwegen</option>
      <option value="Parijs, Frankrijk">Parijs, Frankrijk</option>
      <option value="Rome, Italië">Rome, Italië</option>
    </select>

    <p class="wd-hidden">En vanaf welke luchthaven wil je vertrekken naar je vakantie bestemming?</p>

    <label for="wd-departure">Vertrek Luchthaven</label>
    <select id="wd-departure" name="vanaf">
      <option value="Amsterdam(Schiphol), Nederland">Amsterdam(Schiphol), Nederland</option>
      <option value="Eindhoven, Nederland">Eindhoven, Nederland</option>
      <option value="Rotterdam/Den Haag, Nederland">Rotterdam/Den Haag, Nederland</option>
    </select>

    <p class="wd-hidden">Wanneer wil je de vakantie beginnen?</p>

    <label for="wd-departure-date">Vertrek Datum</label>
    <input id="wd-departure-date" type="date" name="vertrek">

    <p class="wd-hidden">En wanneer moet je, helaas, weer terug komen?</p>

    <label for="wd-return-date">Terugkomst Datum</label>
    <input id="wd-return-date" type="date" name="terug">

    <p class="wd-hidden">Ga je lekker alleen of met meerdere personen op vakantie?</p>

    <label for="wd-number-of-people">Aantal personen</label>
    <input id="wd-number-of-people" type="number" name="personen" placeholder="Bijvoorbeeld 1">

    <p class="wd-hidden">In welke reisklasse wil je reizen?</p>

    <label for="wd-travel-class">Reisklasse</label>
    <select id="wd-travel-class" name="class">
      <option value="Economy Class">Economy Class</option>
      <option value="Business Class">Business Class</option>
    </select>

    <p class="wd-hidden">Gaan er huisdieren of een hulphond mee?</p>

    <label for="wd-pets">Dieren</label>
    <select id="wd-pets" name="pets">
      <option value="ja, er gaat een huisdier mee.">Ja, er gaat een huisdier mee.</option>
      <option value="ja, er gaat een hulphond mee.">Ja, er gaat een hulphond mee.</option>
      <option value="nee, er gaan geen dieren mee.">Nee, er gaan geen dieren mee.</option>
    </select>

    <p class="wd-hidden">Zo dat was alles. Heb je al zin in je vakantie? Op de volgende pagina kun je al je keuzes nog een keer doornemen.</p>

    <a href="/choices">Controleer je keuzes</a>

  </form>

</main>

<% include ../partials/footer %>
